
defaults: &defaults
  mandrill_api_key: "9Z1Huu8ClEPaLlPbXs26kw" # REQUIRED!

development:
  <<: *defaults
  domain: localhost:3000

test:
  <<: *defaults
  domain: test.host

staging:
  <<: *defaults

production:
  <<: *defaults
  domain: example.com

