
defaults: &defaults
  mandrill_api_key: "MANDRILL_API_KEY" # REQUIRED!

development:
  <<: *defaults
  domain: localhost:3000

test:
  <<: *defaults
  domain: test.host

staging:
  <<: *defaults

production:
  <<: *defaults
  domain: example.com

